body{
    background-color:white;
}
header{
    text-align: center;
}

table{
    
}
table,tr,th,td{
    
    border: 1px solid green;
}
th{
    /* ENCABEZADO */
    background-color: green;
    color: white;
}
td{
    /* background-color: lightgreen;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5)); */

}
tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #4bff19;
}
#formulario{
    width: 50%;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#contTabla{
    width: 50%;
    float: right;
}
#boton{
    background-color: blue;
    color: white;
}
#registro{
    width: 10rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(25, 160, 218);
    cursor: pointer;
    border-radius: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px black;   
    
}
#registro:hover{
    background-color: azure;
    color: black;
}